<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!-- 启用proxy class, 默认为proxy interface -->
    <!--<aop:config proxy-target-class="true"/>-->

    <!-- 启用 aspect 注解 -->
    <!--<aop:aspectj-autoproxy/>-->
    <!--<context:component-scan base-package="com.weibangong.xform.fileserver.*" />-->

    <bean id="fileService" class="com.weibangong.xform.fileserver.FastdfsFileService"></bean>

    <!--<bean id="propertyConfigurer" class="com.weibangong.xform.config.ApplicationConfigurer">-->
        <!--<property name="baseLocation" value="classpath:/META-INF/"></property>-->
        <!--<property name="env" value="online"></property>-->
        <!--<property name="configs">-->
            <!--<list>-->
                <!--<value>db.cfg</value>-->
                <!--<value>sms.cfg</value>-->
                <!--<value>redis.cfg</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
    <!--<bean class="com.weibangong.xform.service.base.SpringContextHolder" lazy-init="false" />-->
    <!--<context:component-scan base-package="com.weibangong.xform.service.spi,com.weibangong.retail"></context:component-scan>-->


</beans>
